.entry-card-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0.5rem;
}

.entry-card {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 10px;
}

button {
    width: fit-content;
    border: 1.5px solid rgb(138, 138, 138);
    border-radius: 5px;
    padding: 3px 7px;
    font-weight: bold;
    background-color: #FFF;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}

.delete-entry-btn {
    margin-top: 1rem;
    margin-left: auto;
}

.add-entry-btn {
    margin-top: 1rem;
}