fieldset {
    border: none;
    margin-top: 1rem;
}

.inline-container {
    display: flex;
    justify-content: space-between;
}

ul input {
    padding: 0.3rem 0.5rem;
    flex-grow: 1;
}

.entry-list li {
    display: flex;
    margin-top: 1rem;
}

.delete-btn {
    margin-left: 1rem;
    border: none;
}