.resume-inputs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-inline: 3rem 1.5rem;
    height: calc(100vh - 100px);
    overflow-y: auto;
    min-width: 400px;
}

@media (max-width: 700px) {
    .resume-inputs {
        width: auto;
        overflow-y: visible;
        height: auto;
        padding-inline: 1rem;
    }
}