.resume-container {
    display: grid;
    height: calc(100vh - 80px);
    grid-template-columns: 1fr 2fr;
    max-width: 2000px;
}

@media (max-width: 700px) {
    .resume-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}